.content {
  flex: 1;
}

.footer {
  margin-top: 35px;
}

.col-12,
.col-5 .col-6,
.col-md-8,
.col-md-6,
.col-md-4 {
  padding: 4rem;
  border: 2px solid transparent;
  text-align: center;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .mobile {
    display: none !important;
  }

  .desktop {
    display: block !important;
  }

  .navbar-buttons {
    display: flex !important;
  }
}

@media (min-width: 992px) {
  .navbar {
    display: block;
    height: 70px !important;
  }
}

@media (min-width: 1200px) {
}
